services:
  wabot-api:
    build:
      context: .
    container_name: wabot-api
    ports:
      - "127.0.0.1:${PORT:-3000}:${PORT:-3000}"
    env_file:
      - .env
    environment:
      - WWEBJS_SESSION_PATH=/app/.wabot_auth
      - WWEBJS_CACHE_PATH=/app/.wwebjs_cache
    volumes:
      - "${WWEBJS_SESSION_PATH:-./.wabot_auth}:/app/.wabot_auth"
      - "${WWEBJS_CACHE_PATH:-./.wwebjs_cache}:/app/.wwebjs_cache"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
    networks:
      - wabot_network

networks:
  wabot_network:
    external: true
